:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "main-view main-view side-bar";
  height: 100%;
  .custom-sidebar {
    grid-area: side-bar;
    background-color: #292929;
  }
  .main {
    grid-area: main-view;
    padding: 20px 40px;
    >p {
      color: #ff4e4e;
    }
  }
}
